<mat-card class="bg-transparent">
    <mat-card-content>
    <div class="mx-lg-5 px-lg-5">
        <mat-form-field appearance="outline" class="col-6 ml-n3">
            <mat-label [translate]="'Admin.NewPost.Title'"
                       class="mr-1 my-1 align-items-start"></mat-label>
            <input matInput [(ngModel)]="newPost.title" spellcheck="true" type="text"
                   placeholder="{{'Admin.NewPost.Title' | translate}}" id="postTitle" class="text-left">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-9 ml-n3">
            <mat-label [translate]="'Admin.NewPost.Summary'"
                       class="mr-1 my-1 align-items-start"></mat-label>
            <input matInput [(ngModel)]="newPost.summary" spellcheck="true" type="text"
                   placeholder="{{'Admin.NewPost.Summary' | translate}}" id="postSummary">
        </mat-form-field>
        <md-editor [(ngModel)]="newPost.body"
                   [height]="'500px'"
                   [mode]="'editor'"
                   [options]="options"
                   required
                   maxlength="500">
        </md-editor>
        <mat-form-field>
            <mat-label [translate]="'Admin.NewPost.Tags'"></mat-label>
            <mat-select [formControl]="tagsControl" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag._id">{{'Admin.NewPost.' + tag.name|translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="row">
            <button mat-raised-button class="btn btn-secondary ml-3 col-1 py-2" (click)="submitPost()">Submit</button>
        </div>
    </div>
    </mat-card-content>
</mat-card>
<button (click)="auth.logout()">Logout</button>
