.mat-card {
  color: #1a1111;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #fefefe;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fefefe;
}
.mat-drawer-container {
  background-color: #333333;
  color: theme-color("primary");
}
.mat-form-field-label {
  position:absolute;
  font:inherit;
  pointer-events:none;
  width:100%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  transform-origin:0 0;
  transition:transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  display:none;
  color: #fefefe
}
.mat-input-element {
  color: #fefefe;
}
mat-label {
  color: #fefefe;
}
